.card {
    min-width: calc((100% - 3.5rem) / 7);
    margin-right: 0.5rem;
}

.card__poster {
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
    vertical-align: top;
    transition: transform 450ms;
    z-index: 80;
}

.card:hover .card__poster {
    transform: scale(1.08);
}

@media screen and (max-width: 1000px) {
    .card {
        min-width: calc((100% - 3.5rem) / 6);
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    .card {
        min-width: calc((100% - 3.5rem) / 5);
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .card {
        min-width: calc((100% - 3.5rem) / 3);
        margin-right: 0.5rem;
    }
}

