@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

:root {
    --dark-color: #221f1f;
    --red-color: #e50914;
    --light-color: #f5f5f1;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--light-color);
    box-sizing: border-box;
    background-color: var(--dark-color);
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
}

.btn:hover {
    transform: scale(1.05);
}

.btn--red {
    font-weight: 400;
    color: #fff;
    background-color: var(--red-color);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal__content {
    padding: 3rem;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}